body {
    background: linear-gradient(to right, #434343, #000000);
    padding: 20px;
}

header {
    font-size: 72px;
    background: linear-gradient(to right, #ffefba, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 72px;
    background: linear-gradient(to right, #ffefba, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#todo {
    border: solid medium #ffefba;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    color: black;
    margin: 10px;
    border: solid white;
    background-color: white;
}

.addButton {
    padding: 5px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.next {
    float:right;
    cursor: pointer;
}

.close {
    float: right;
    cursor: pointer;
}

